[user]
	signingkey = achhaabhinav@gmail.com
	name = AbhinavAchha
	email = achhaabhinav@gmail.com
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[tag]
    gpgSign = true
[color]
	ui = auto

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true  # show diffs side-by-side
    line-numbers = true  # show line numbers

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
