[user]
	signingkey = achhaabhinav@gmail.com
	name = AbhinavAchha
	email = achhaabhinav@gmail.com

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[tag]
    gpgSign = true

[color]
	ui = auto

[core]
    pager = delta
    preloadindex = true
    manyFiles = true
    untrackedCache = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[include]
    path = delta.gitconfig

[help]
	autocorrect = 1

[grep]
    extendedRegexp = true

